<style>
html, body, input {
  font-family: verdana;
  font-size: 12px;
  line-height: 16px;
}

#chat-container {
  width: 800px;
  margin: 20 auto;
  border: 1px solid #ddd;
}

#chat-input {
	background-color: #efefef;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#chat-input #input {
  width: 780px;
}

#chat-console {
  min-height: 100px;
  padding: 10px;
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fcfcfc));
  background: -moz-linear-gradient(top, #efefef, #fcfcfc);
  background: linear-gradient(top, #efefef, #fcfcfc);
  color: #373737;
  text-shadow: 0 1px 1px #ffffff;
}

#chat-console p {
  margin: 0;
  padding: 4px 4px;
  border-bottom: 1px dotted rgba(205, 205, 204, 0.5);
}

#chat-console span.sender {
  width: 90px;
  display: inline-block;
   
  text-overflow: ellipsis;
  padding-right: 2px;
  font-weight: bold;
}

#chat-console span.message {
  padding-left: 2px;
}

#chat-console p:last-child {
  border-bottom: 0px solid rgba(205, 205, 204, 0.5);
}

#dashboard {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  
  z-index: 500;
  
  background-color: black;
  opacity: 0.4;
}

#loginBox {
  position: fixed;
  top: 50px;
  left: 50%;
  
  width: 200px;
  margin-left: -100px;
  padding: 10px;
  
  z-index: 520;  
  background-color: white;
  border: 1px solid #ddd;
}

#loginBox input {
  width: 100%;
}

.hidden {
  display: none;
}

</style>


<div id="dashboard"></div>
<div id="loginBox">
	<form id="loginForm">
  	Login to Confab
  	<input id="name" type="text" placeholder="name" />
  	<input id="room" type="text" placeholder="roomname" value="#botwars" />
  	<input id="login" type="submit" value="Login"/>
  </form>
</div>

<div id="chat-container">
  <div id="chat-input">
    <input id="input" type="textbox" placeholder="message" />
  </div>
  <div id="chat-console">
  </div>
</div>

<script type="text/javascript">

(function (global) {
  var socket = io.connect();
  var container = $('#chat-console');

  $('#loginForm').submit(function(e) {
    if(global.connected) {
    	e.preventDefault();
      global.name = $('#name').val();
      global.channel = $('#room').val();
      
      $('#dashboard').addClass("hidden");
      $('#loginBox').addClass("hidden");
      socket.json.send({connect: {name: global.name, channel: global.channel}});
      $('#input').focus();
    }
  });

  $('#input').bind('keypress', function(e) {
    if(e.keyCode === 13 && global.connected) {
      addMessage(global.name, this.value);
      socket.json.send(this.value);
      this.value = '';
    }
  });

  socket.on('connect', function () {
    global.connected = true;
  });

  socket.on('message', function (data) {
    if (data.buffer) {
      for (var i = 0; i < data.buffer.length; i++) {
        var bufferItem = data.buffer[i];
        if (bufferItem) {
          addMessage(bufferItem.name, bufferItem.message);
        }
      }
    } else {
      addMessage(data.name, data.message);
    }
  });

  socket.on('disconnect', function () {
    global.connected = false;
  });

  function addMessage(from, message) {
    var messageContainer = $('<p>');
    
    var sender = $('<span>').text(from);
    sender.addClass('sender');
    messageContainer.append(sender);
    
    var content = $('<span>').text(message);
    content.addClass('message');
    messageContainer.append(content);
    
    container.prepend(messageContainer);
    messageContainer.effect("highlight", {}, 1500);
  };
})({});

</script>