<html>
<head>

  <!-- 3rd party libs -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/backbone.js"></script>

  <!-- Confab libs -->
  <script src="/js/utilities.js"></script>

  <!-- Confab app -->
  <script src="/js/models.js"></script>
  <script src="/js/views.js"></script>
  <script src="/js/collections.js"></script>

</head>
<body>

  <header>
  </header>

  <nav>
  </nav>

  <section id="content">
    {{yield}}
  </section>

</body>
</html>